{% extends "layout.html" %}
{% block content %}
<div class="main_site_box">
  <div class="main_site_box_title">
    <h1>Tickets</h1>
    <a href="/dashboard/tickets/create" class="btn">Criar Ticket</a>
  </div>
  <div class="main_site_box_content">
    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="text-align:left">
      <tbody>
        <tr>
          <td height="30">
            <hr align="center">
          </td>
        </tr>
        <tr>
          <td height="30">
            <h2 align="center">Ver Tickets</h2>
          </td>
        </tr>
        <tr>
          <td>
            <table width="100%" border="1" align="center" cellpadding="2" cellspacing="20" bordercolor="#333333">
              <tbody>
                {% if tickets is not empty %}
                {% for item in tickets %}
                <tr>
                  <td align="left" valign="top" nowrap="nowrap">
                    <strong>
                      <a href="{{link_dir}}dashboard/tickets/view/{{ item.ID }}">
                        {{ item.date|date('d/m/Y H:i') }} - {{ item.subject }}
                      </a>
                    </strong>
                  </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td align="center" valign="top" nowrap="nowrap"><strong>Você não criou nenhum ticket</strong>
                  </td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height="30">
            <hr>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
{% endblock %}