{% extends "layout.html" %}
{% block content %}
<div class="main_site_box">
  <div class="main_site_box_title">
    <center>
      <h1>Painel de Usuário</h1>
    </center>
  </div>
  <div class="main_site_box_content">
    <fieldset>

      <h2 align="center">Dados da Conta</h2>

      <!--Reference-->
      <style>
        .reference {
          width: 100%;
          list-style: none;
          display: block;
          margin: 0 0 10px 0;
          padding: 0;
        }

        .reference li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 8px 10px;
          color: #ccc;
        }

        .reference li span {
          color: #fff;
        }
      </style>
      <ul class="reference">
        <fieldset>
          <li>Nome: <span>{{userdata.memb_name}}</span></li>
        </fieldset>
        <fieldset>
          <li>Login: <span">{{userdata.memb___id}}</span">
          </li>
        </fieldset>
        <fieldset>
          <li>Créditos: <span">{{userdata.mwo_credits}}</span">
          </li>
        </fieldset>
        {% for item in coins_user %}
        <fieldset>
          <li>{{item.name}}: <span">{{item.value}}</span">
          </li>
        </fieldset>
        {% endfor %}
      </ul>
    </fieldset>


    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="text-align:left">
      <tbody>
        <tr>
          <td height="30">
            <hr align="center">
          </td>
        </tr>
        <tr>
          <td height="30">
            <h2 align="center">Personagens</h2>
          </td>
        </tr>
        <tr>
          <td>
            <table width="100%" border="1" align="center" cellpadding="2" cellspacing="20" bordercolor="#333333">
              <tbody>
                <tr>
                  <td align="center" valign="top" nowrap="nowrap"><strong><a
                        href="/dashboard/characters/reset">Reset</a></strong></td>
                </tr>
                <tr>
                  <td align="center" valign="top" nowrap="nowrap"><strong><a
                        href="/dashboard/characters/masterreset">Master Reset</a></strong>
                  </td>
                </tr>
                <tr>
                  <td width="0" align="center" valign="top" nowrap="nowrap"><strong><a
                        href="/dashboard/characters/cleanpk">Limpar PK</a></strong></td>
                </tr>
                <tr>
                  <td align="center" valign="top" nowrap="nowrap"><strong><a
                        href="/dashboard/characters/changenick">Alterar Nome</a></strong></td>
                </tr>
                <tr>
                  <td align="center" valign="top" nowrap="nowrap"><strong><a
                        href="/dashboard/characters/changeclass">Alterar Classe</a></strong></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height="30">
            <hr>
          </td>
        </tr>
      </tbody>
    </table>


    <fieldset>
      <h2 align="center">Dados VIP</h2>
      <!--Reference-->
      <style>
        .reference {
          width: 100%;
          list-style: none;
          display: block;
          margin: 0 0 10px 0;
          padding: 0;
        }

        .reference li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 8px 10px;
          color: #ccc;
        }

        .reference li span {
          color: #fff;
        }
      </style>
      <ul class="reference">
        <fieldset>
          <li>Tipo: <span>{{user_vip.name}}</span></li>
        </fieldset>
        {% if user_vip.days is not empty %}
        <fieldset>
          <li>Vencimento: <span">vence daqui {{user_vip.days}} dias</span">
          </li>
        </fieldset>
        {% endif %}
      </ul>
    </fieldset>
    <br>
    <h2 align="center">Meus Personagens</h2>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>
            <strong><em>Personagem</em></strong>
          </td>
          <td>
            <strong><em>Classe</em></strong>
          </td>
          <td>
            <strong><em>Resets</em></strong>
          </td>
          <td>
            <strong><em>PK</em></strong>
          </td>
        </tr>
        {% if user_characters is not empty %}
        {% for item in user_characters %}
        <tr>
          <td>{{item.Name}}</td>
          <td>{{item.Class}}</td>
          <td>{{item.Resets}}</td>
          <td>{{item.PkCount}}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td>Você não tem personagens</td>
        </tr>
        {% endif %}

      </tbody>
    </table>


  </div>
</div>
{% endblock %}