{% extends "layout.html" %}
{% block content %}
<div class="main_site_box">
  <div class="main_site_box_title">
    <h1>Configurações</h1>
  </div>
  <div class="main_site_box_content">
    <script>
      $(function () {
        if ($("#feedback").html() != "") {
          $("#feedback").css({
            "padding": "5px",
            "border": "2px dashed #660000"
          });
        }
      });
    </script>
    {% for item in return %}
    <div id="feedback"
      style="background:#FF6; color:#F00; font-size:12px; width:100%; font-weight:bold; margin:0 auto 15px auto; line-height:1.5;">
      {{ item.message }}
    </div>
    <div id="feedback"
      style="background:#fff; color:rgb(0, 255, 0); font-size:12px; width:100%; font-weight:bold; margin:0 auto 15px auto; line-height:1.5;">
      {{ item.message }}
    </div>
    {% endfor %}
    <h2 align="center">Mudar Senha</h2>
    <form action="{{link_dir}}dashboard/settings/password" method="post" name="reg" id="reg">
      <table width="100%" border="0" align="center" cellpadding="3" cellspacing="5">
        <tbody>
          <tr>
            <td align="right">Senha Atual:</td>
            <td align="left">
              <input type="password" id="currentpassword" name="currentpassword" placeholder="Senha Atual">
            </td>
          </tr>
          <tr>
            <td align="right">Nova Senha:</td>
            <td align="left">
              <input type="password" id="newpassword" name="newpassword" placeholder="Nova Senha">
            </td>
          </tr>
          <tr>
            <td align="right">Repita a senha:</td>
            <td align="left">
              <input type="password" id="confimpassword" name="confimpassword" placeholder="Repita a Nova Senha">
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td align="left">
              <input type="submit" name="button" id="button" value="Alterar Senha">
            </td>
          </tr>
        </tbody>
      </table>
    </form>


    <h2 align="center">Dados</h2>
    <form action="{{link_dir}}dashboard/settings/data" method="post" name="reg" id="reg">
      <table width="100%" border="0" align="center" cellpadding="3" cellspacing="5">
        <tbody>
          <tr>
            <td align="right">Email:</td>
            <td align="left">
              <input type="email" disabled id="email" name="email" value="{{settings_data.mail_addr}}">
            </td>
          </tr>
          <tr>
            <td align="right">Nome:</td>
            <td align="left">
              <input type="text" name='memb_name' id='memb_name' value="{{settings_data.memb_name}}" required>
            </td>
          </tr>
          <tr>
            <td align="right">Telefone:</td>
            <td align="left">
              <input type="text" id='tel__numb' name='tel__numb' value="{{settings_data.tel__numb}}">
            </td>
          </tr>
          <tr>
            <td align="right">Senha Atual:</td>
            <td align="left">
              <input type="password" id="cur_password" name="cur_password" placeholder="Senha Atual">
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td align="left">
              <input type="submit" name="button" id="button" value="Alterar Dados">
            </td>
          </tr>
        </tbody>
      </table>
    </form>
    <p align="center"><a href="/dashboard/home">Voltar ao Painel de Usuário</a></p>
  </div>
</div>

{% endblock %}