{% extends "layout.html" %}
{% block content %}
<!-- slide -->
<div class="main_slide">
    <div class="main_slide_content">
        <div id="eye_number" class="number">
            {% for item in slides %}
            {% if item.status == 1 %}
            <a {%if loop.index == 1%} class='on' {%else%} class='off' {%endif%} href='javascript:;'>{{ loop.index }}</a>
            {% endif %}
            {% endfor %}
        </div>
        <div id="eye_box" class="main_slide_img">
            {% for item in slides %}
            {% if item.status == 1 %}
            <a href='{{ item.link }}' style='display: inline;'>
                <img width='712' height='303' src='{{ item.image }}'>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<!---->

<!-- Notícias -->
<div class="main_site_box">
    <div class="main_site_box_title" style='margin-bottom: 0'>
        <ul class="main_site_box_tab" id='j_tab'>
            <li><a href="#" class='active' id='1' id-div='noticias'>Notícias</a></li>
        </ul>
    </div>
    <div class="main_site_box_content" style='padding-bottom: 5px' id='noticias'>
        <div id='1' style="display:block;padding:10px;">
            {% for item in news %}
            <a href='/news/{{item.ID}}' class='main_news'>
                <strong>
                    <span style="font-family: verdana, geneva; font-size: medium;">
                        {% if item.tag is not empty %}
                        [{{item.tag}}]
                        {% endif %}
                        {{item.title}}
                    </span>
                </strong>
                <span class='r'>{{ item.date|date('d/m/Y H:i') }}</span>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
<!---->

<!-- Top rank os Melhores -->
<div class="main_site_box">
    <div class="main_site_box_title">
        <ul class="main_site_box_tab" id='j_tab'>
            {% for item in rankings %}
            <li><a {%if loop.index == 1%} class='active' {%endif%} href="#" id="{{item.column}}"
                    id-div='osmelhores'>{{item.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="main_site_box_content" id='osmelhores'>
        {% for item in rankings %}
        <div id="{{item.column}}" {%if loop.index != 1%} style='display: none;' {%endif%}>
            <table class="table">
                <thead>
                    <tr>
                        {% for rankings in item.ranking%}
                        <td>{{ loop.index }}° Lugar</td>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for rankings in item.ranking%}
                        <td>
                            {{rankings.Name}}
                            <p style='margin: 5px 0; padding: 0;'>
                                <img src="assets/noImage.gif" style="max-width: 85px; max-height: 85px;" />
                            </p>
                            {{rankings.ranking}} Pontos
                        </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
</div>
<!---->

<!-- Castle Siege e Rei Pvp -->
<div class="main_site_box">
    <div class="main_site_box_title">
        <ul class="main_site_box_tab" id='j_tab'>
            <li><a class='active' href="#" id="1" id-div='csvspvp'>Rei PVP</a></li>
        </ul>
        <!--<a href="?c=Rankings" class="btn">Rankings</a>-->
    </div>
    <div class="main_site_box_content" id='csvspvp'>
        <div id="1">
            <section class="main_reipvp">
                <article class="main_reipvp_content">
                    <p class='img'><img src="assets/noImage.gif" style="max-width: 78px; max-height: 78px;" /></p>
                    <p class='win'>{{ kingofmu.Name }}</p>
                    <p class='vit'>{{ kingofmu.wins }}</p>
                </article>
            </section>
        </div>
    </div>
</div>
<!---->
{% endblock %}