{% extends "layout.html" %}
{% block content %}
<div class="main_site_box">
  <div class="main_site_box_title">
    <h1>Nova Senha</h1>
  </div>
  <div class="main_site_box_content">
    {% for item in return %}
    {% if item.error %}
    <div id="feedback"
      style="background:#FF6; color:#F00; font-size:12px; width:100%; font-weight:bold; margin:0 auto 15px auto; line-height:1.5;">
      {{ item.message }}
    </div>
    {%elseif item.success%}
    <div id="feedback"
      style="background:#fff; color:rgb(0, 255, 0); font-size:12px; width:100%; font-weight:bold; margin:0 auto 15px auto; line-height:1.5;">
      {{ item.message }}
    </div>
    {%endif%}
    {% endfor %}
    <form action="{{ link_dir }}newpassword/{{ username }}/{{ token }}" method="post" name="reg">
      <div class="label_50">
        <label class="label">
          <span class="legend">Senha:</span>
          <input name="password" id="password" maxlength="10" type="password" value="" placeholder="Senha">
        </label>
        <label class="label">
          <span class="legend">Repita a senha:</span>
          <input name="repassword" id="repassword" maxlength="10" type="password" value=""
            placeholder="Confirmar a mesma senha digitada">
        </label>
      </div>

      <div style="text-align:center; margin-bottom:0;">
        <input type="submit" name="Submit" id="button" value="Alterar" />
      </div>
    </form>
  </div>
</div>

{% endblock %}