{% extends "layout.html" %}
{% block content %}
<div class="main_site_box">
    <div class="main_site_box_title">
        <h1>Criar nova conta</h1>
    </div>
    <div class="main_site_box_content">
        {% for item in return %}
        {% if item.error %}
        <div id="feedback"
            style="background:#FF6; color:#F00; font-size:12px; width:100%; font-weight:bold; margin:0 auto 15px auto; line-height:1.5;">
            {{ item.message }}
        </div>
        {%elseif item.success%}
        <div id="feedback"
            style="background:#fff; color:rgb(0, 255, 0); font-size:12px; width:100%; font-weight:bold; margin:0 auto 15px auto; line-height:1.5;">
            {{ item.message }}
        </div>
        {%endif%}
        {% endfor %}
        <form action="{{link_dir}}register" method="post" name="reg">
            <div class="label_50">
                <label class="label">
                    <span class="legend">Nome real ou Apelido:</span>
                    <input name="nick" id="nick" maxlength="10" type="text" value=""
                        placeholder="Seu nome ou apelido, de 4 a 10 letras">
                </label>

                <label class="label">
                    <span class="legend">Login de Usuário:</span>
                    <input name="username" id="username" maxlength="10" type="text" value=""
                        placeholder="Login para acessar Site e o Jogo">
                </label>
            </div>

            <div class="label_50">
                <label class="label">
                    <span class="legend">Senha:</span>
                    <input name="password" id="password" maxlength="10" type="password" value=""
                        placeholder="Senha para acessar o Site e o Jogo">
                </label>
                <label class="label">
                    <span class="legend">Repita a senha:</span>
                    <input name="repassword" id="repassword" maxlength="10" type="password" value=""
                        placeholder="Confirmar a mesma senha digitada">
                </label>
            </div>

            <div class="label_50">
                <label class="label">
                    <span class="legend">E-Mail:</span>
                    <input name="email" id="email" maxlength="255" type="text" value=""
                        placeholder="Endereço de e-mail válido">
                </label>
                <label class="label">
                    <span class="legend">Repita o E-Mail:</span>
                    <input name="reemail" id="reemail" maxlength="255" type="text" value=""
                        placeholder="Confirmar o mesmo email digitado">
                </label>
            </div>

            <div class="label_50">

                <label class="label" style="position:relative;">
                    <tr>
                        <td align="right" nowrap="nowrap"></td>
                        <td colspan="2" nowrap="nowrap">
                            <div class="g-recaptcha" data-sitekey="{{ recaptcha_site }}" id="element_id"></div>
                        </td>
                    </tr>
                    <tr>
            </div>

            <div style="text-align:center; margin-bottom:0;">
                <input type="submit" name="Submit" id="button"
                    value="Cadastrar (Declaro concordar com os termos de uso)" />
            </div>
        </form>
    </div>
    <script>
        grecaptcha.render('element_id', {
            sitekey: '{{ recaptcha_site }}',
            theme: 'dark',
            callback: function (response) {
                console.log(response);
            }
        });
    </script>
</div>

{% endblock %}