body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.image-responsive{
	width: 100%;
}

.text-center{
	text-align: center;
}

.install-container{
	padding: 10px;
  margin-top: 10px;
  background: #fff;
	border-radius: 10px;
}