{% extends "layout.html" %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>Acesso Páginas</h1>
    <ol class="breadcrumb">
      <li><a href="{{link_admin}}/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Acesso Páginas</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <div class="col-md-12">
        {% for item in return %}
        <div
          class="alert {% if item.error %}alert-danger{% endif %}{% if item.success %}alert-success{% endif %} alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4><i class="icon fa {% if item.error %}fa-ban{% endif %}{% if item.success %}fa-check{% endif %}"></i>
            Alerta!</h4>
          {{ item.message }}
        </div>
        {% endfor %}

        {%if page_type == 'create' %}
        <!-- Horizontal Form -->
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Criar Acesso</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form class="form-horizontal" action="{{link_dir}}{{link_admin}}/accesspages/create" method="post"
            enctype="multipart/form-data">
            <div class="box-body">
              <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Nome</label>

                <div class="col-sm-10">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nome" required>
                </div>
              </div>
              <div class="form-group">
                <label for="access" class="col-sm-2 control-label">Nível</label>

                <div class="col-sm-10">
                  <input type="number" name="access" class="form-control" id="access" placeholder="Nível de Acesso"
                    required>
                </div>
              </div>
              <div class="form-group">
                <label for="blocked" class="col-sm-2 control-label">Logins Bloqueados</label>

                <div class="col-sm-10">
                  <input type="text" name="blocked" class="form-control" id="blocked" data-role="tagsinput">
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="reset" class="btn btn-default">Cancelar</button>
              <button type="submit" class="btn btn-info pull-right">Criar</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- /.box -->

        {%elseif page_type == 'edit' %}
        <!-- Horizontal Form -->
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Editar Acesso</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form class="form-horizontal" action="{{link_dir}}{{link_admin}}/accesspages/edit/{{ accesspage_data.ID }}"
            method="post" enctype="multipart/form-data">
            <div class="box-body">
              <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Nome</label>

                <div class="col-sm-10">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nome"
                    value="{{ accesspage_data.name }}" required>
                </div>
              </div>
              <div class="form-group">
                <label for="access" class="col-sm-2 control-label">Nível</label>

                <div class="col-sm-10">
                  <input type="number" name="access" class="form-control" id="access" placeholder="Nível de Acesso"
                    value="{{ accesspage_data.access }}" required>
                </div>
              </div>
              <div class="form-group">
                <label for="blocked" class="col-sm-2 control-label">Logins Bloqueados</label>

                <div class="col-sm-10">
                  <input type="text" name="blocked" class="form-control" id="blocked" data-role="tagsinput"
                    value="{{ accesspage_data.blocked }}">
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="reset" class="btn btn-default">Cancelar</button>
              <button type="submit" class="btn btn-info pull-right">Editar</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- /.box -->
        {%elseif page_type == 'delete' %}
        <!-- Horizontal Form -->
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Deletar Acesso</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form class="form-horizontal" action="{{link_dir}}{{link_admin}}/accesspages/delete/{{ accesspage_data.ID }}"
            method="post">
            <div class="box-body">
              <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Nome</label>

                <div class="col-sm-10">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nome"
                    value="{{ accesspage_data.name }}" disabled>
                </div>
              </div>
              <div class="form-group">
                <label for="access" class="col-sm-2 control-label">Nível</label>

                <div class="col-sm-10">
                  <input type="number" name="access" class="form-control" id="access" placeholder="Nível de Acesso"
                    value="{{ accesspage_data.access }}" disabled>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <a href="/{{link_admin}}/events/list" class="btn btn-default">Cancelar</a>
              <button type="submit" class="btn btn-info pull-right">Deletar</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- /.box -->

        {%elseif page_type == 'list' %}

        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Todos os Acessos</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="datatable" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nome</th>
                  <th>Nível</th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                {% for item in accesspages_data %}
                <tr>
                  <td>{{ item.ID }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.access }}</td>
                  <td>
                    <a href="/{{link_admin}}/accesspages/edit/{{ item.ID }}"
                      class="btn btn-sm btn-info btn-flat">Editar</a>
                    <a href="/{{link_admin}}/accesspages/delete/{{ item.ID }}"
                      class="btn btn-sm btn-danger btn-flat">Deletar</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <th>ID</th>
                  <th>Nome</th>
                  <th>Nível</th>
                  <th>Ação</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->

        {% endif %}



      </div>
    </div>
    <!-- /.row (main row) -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}