{% extends "layout.html" %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>Contas</h1>
    <ol class="breadcrumb">
      <li><a href="{{link_admin}}/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Contas</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <div class="col-md-12">
        {% for item in return %}
        <div
          class="alert {% if item.error %}alert-danger{% endif %}{% if item.success %}alert-success{% endif %} alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4><i class="icon fa {% if item.error %}fa-ban{% endif %}{% if item.success %}fa-check{% endif %}"></i>
            Alerta!</h4>
          {{ item.message }}
        </div>
        {% endfor %}

        {%if page_type == 'edit' %}
        <!-- Horizontal Form -->
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Editar Conta</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form class="form-horizontal" action="{{link_dir}}{{link_admin}}/accounts/edit/{{ account_data.memb_guid }}"
            method="post" enctype="multipart/form-data">
            <div class="box-body">
              <div class="form-group">
                <label for="login" class="col-sm-2 control-label">Login</label>

                <div class="col-sm-10">
                  <input type="text" name="login" class="form-control" id="login" placeholder="Login"
                    value="{{ account_data.memb___id }}" disabeld>
                </div>
              </div>
              <div class="form-group">
                <label for="memb_name" class="col-sm-2 control-label">Nome</label>

                <div class="col-sm-10">
                  <input type="text" name="memb_name" class="form-control" id="memb_name" placeholder="Nome"
                    value="{{ account_data.memb_name }}" required>
                </div>
              </div>
              <div class="form-group">
                <label for="memb__pwd" class="col-sm-2 control-label">Senha</label>

                <div class="col-sm-10">
                  <input type="text" name="memb__pwd" class="form-control" id="memb__pwd" placeholder="Senha"
                    value="{{ account_data.memb__pwd }}">
                </div>
              </div>
              <div class="form-group">
                <label for="mail_addr" class="col-sm-2 control-label">Email</label>

                <div class="col-sm-10">
                  <input type="email" name="mail_addr" class="form-control" id="mail_addr" placeholder="Email"
                    value="{{ account_data.mail_addr }}" required>
                </div>
              </div>
              <div class="form-group">
                <label for="tel__numb" class="col-sm-2 control-label">Telefone</label>

                <div class="col-sm-10">
                  <input type="text" name="tel__numb" class="form-control" id="tel__numb" placeholder="Telefone"
                    value="{{ account_data.tel__numb }}">
                </div>
              </div>
              <div class="form-group">
                <label for="mwo_credits" class="col-sm-2 control-label">Créditos</label>

                <div class="col-sm-10">
                  <input type="number" name="mwo_credits" class="form-control" id="mwo_credits" placeholder="Créditos"
                    value="{{ account_data.mwo_credits }}" required>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="reset" class="btn btn-default">Cancelar</button>
              <button type="submit" class="btn btn-info pull-right">Editar</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- /.box -->
        {%elseif page_type == 'delete' %}
        <!-- Horizontal Form -->
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Deletar Conta</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form class="form-horizontal" action="{{link_dir}}{{link_admin}}/accounts/delete/{{ account_data.memb_guid }}"
            method="post">
            <div class="box-body">
              <div class="form-group">
                <label for="login" class="col-sm-2 control-label">Login</label>

                <div class="col-sm-10">
                  <input type="text" name="login" class="form-control" id="login" placeholder="Login"
                    value="{{ account_data.memb___id }}" disabled>
                </div>
              </div>
              <div class="form-group">
                <label for="memb_name" class="col-sm-2 control-label">Nome</label>

                <div class="col-sm-10">
                  <input type="text" name="memb_name" class="form-control" id="memb_name" placeholder="Nome"
                    value="{{ account_data.memb_name }}" disabled>
                </div>
              </div>
              <div class="form-group">
                <label for="memb__pwd" class="col-sm-2 control-label">Senha</label>

                <div class="col-sm-10">
                  <input type="text" name="memb__pwd" class="form-control" id="memb__pwd" placeholder="Senha"
                    value="{{ account_data.memb__pwd }}" disabled>
                </div>
              </div>
              <div class="form-group">
                <label for="mail_addr" class="col-sm-2 control-label">Email</label>

                <div class="col-sm-10">
                  <input type="email" name="mail_addr" class="form-control" id="mail_addr" placeholder="Email"
                    value="{{ account_data.mail_addr }}" disabled>
                </div>
              </div>
              <div class="form-group">
                <label for="tel__numb" class="col-sm-2 control-label">Telefone</label>

                <div class="col-sm-10">
                  <input type="text" name="tel__numb" class="form-control" id="tel__numb" placeholder="Telefone"
                    value="{{ account_data.tel__numb }}" disabled>
                </div>
              </div>
              <div class="form-group">
                <label for="mwo_credits" class="col-sm-2 control-label">Créditos</label>

                <div class="col-sm-10">
                  <input type="number" name="mwo_credits" class="form-control" id="mwo_credits" placeholder="Créditos"
                    value="{{ account_data.mwo_credits }}" disabled>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <a href="/{{link_admin}}/menus/list" class="btn btn-default">Cancelar</a>
              <button type="submit" class="btn btn-info pull-right">Deletar</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- /.box -->

        {%elseif page_type == 'list' %}

        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Todas as Contas</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="datatable" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Login</th>
                  <th>Nome</th>
                  <th>Email</th>
                  <th>Telefone</th>
                  <th>Créditos</th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                {% for item in accounts_data %}
                <tr>
                  <td>{{ item.memb_guid }}</td>
                  <td>{{ item.memb___id }}</td>
                  <td>{{ item.memb_name }}</td>
                  <td>{{ item.mail_addr }}</td>
                  <td>{{ item.tel__numb }}</td>
                  <td>{{ item.mwo_credits }}</td>
                  <td>
                    <a href="/{{link_admin}}/accounts/edit/{{ item.memb_guid }}"
                      class="btn btn-sm btn-info btn-flat">Editar</a>
                    <a href="/{{link_admin}}/accounts/delete/{{ item.memb_guid }}"
                      class="btn btn-sm btn-danger btn-flat">Deletar</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <th>ID</th>
                  <th>Login</th>
                  <th>Nome</th>
                  <th>Email</th>
                  <th>Telefone</th>
                  <th>Créditos</th>
                  <th>Ação</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->

        {% endif %}



      </div>
    </div>
    <!-- /.row (main row) -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}