{% extends "layout.html" %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>Notícias</h1>
    <ol class="breadcrumb">
      <li><a href="{{link_admin}}/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Notícias</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <div class="col-md-12">
        {% for item in return %}
        <div
          class="alert {% if item.error %}alert-danger{% endif %}{% if item.success %}alert-success{% endif %} alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4><i class="icon fa {% if item.error %}fa-ban{% endif %}{% if item.success %}fa-check{% endif %}"></i>
            Alerta!</h4>
          {{ item.message }}
        </div>
        {% endfor %}

        {%if page_type == 'create' %}
        <!-- Horizontal Form -->
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Criar Notícia</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form class="form-horizontal" action="{{link_dir}}{{link_admin}}/news/create" method="post"
            enctype="multipart/form-data">
            <div class="box-body">
              <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Título</label>

                <div class="col-sm-10">
                  <input type="text" name="title" class="form-control" id="title" placeholder="Título" required>
                </div>
              </div>
              <div class="form-group">
                <label for="tag" class="col-sm-2 control-label">Tag</label>

                <div class="col-sm-10">
                  <input type="text" name="tag" class="form-control" id="tag" placeholder="Tag">
                </div>
              </div>
              <div class="form-group">
                <label for="image" class="col-sm-2 control-label">Imagem</label>

                <div class="col-sm-10">
                  <input type="text" name="image" class="form-control" id="image" placeholder="Imagem">
                </div>
              </div>
              <div class="form-group">
                <label for="content" class="col-sm-2 control-label" required>Conteúdo</label>

                <div class="col-sm-10">
                  <textarea id="ckeditor" name="content" rows="10" cols="80"></textarea>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="reset" class="btn btn-default">Cancelar</button>
              <button type="submit" class="btn btn-info pull-right">Criar</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- /.box -->

        {%elseif page_type == 'edit' %}
        <!-- Horizontal Form -->
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Editar Notícia</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form class="form-horizontal" action="{{link_dir}}{{link_admin}}/news/edit/{{ new_data.ID }}" method="post"
            enctype="multipart/form-data">
            <div class="box-body">
              <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Título</label>

                <div class="col-sm-10">
                  <input type="text" name="title" class="form-control" id="title" placeholder="Título"
                    value="{{ new_data.title }}" required>
                </div>
              </div>
              <div class="form-group">
                <label for="tag" class="col-sm-2 control-label">Tag</label>

                <div class="col-sm-10">
                  <input type="text" name="tag" class="form-control" id="tag" placeholder="Tag"
                    value="{{ new_data.tag }}">
                </div>
              </div>
              <div class="form-group">
                <label for="image" class="col-sm-2 control-label">Imagem</label>

                <div class="col-sm-10">
                  <input type="text" name="image" class="form-control" id="image" placeholder="Imagem"
                    value="{{ new_data.image }}">
                </div>
              </div>
              <div class="form-group">
                <label for="content" class="col-sm-2 control-label">Conteúdo</label>

                <div class="col-sm-10">
                  <textarea id="ckeditor" name="content" rows="10" cols="80" required>{{ new_data.content }}</textarea>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="reset" class="btn btn-default">Cancelar</button>
              <button type="submit" class="btn btn-info pull-right">Editar</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- /.box -->
        {%elseif page_type == 'delete' %}
        <!-- Horizontal Form -->
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Deletar Notícia</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form class="form-horizontal" action="{{link_dir}}{{link_admin}}/news/delete/{{ new_data.ID }}" method="post">
            <div class="box-body">
              <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Título</label>

                <div class="col-sm-10">
                  <input type="text" name="title" class="form-control" id="title" placeholder="Título"
                    value="{{ new_data.title }}" disabled>
                </div>
              </div>
              <div class="form-group">
                <label for="tag" class="col-sm-2 control-label">Tag</label>

                <div class="col-sm-10">
                  <input type="text" name="tag" class="form-control" id="tag" placeholder="Tag"
                    value="{{ new_data.tag }}" disabled>
                </div>
              </div>
              <div class="form-group">
                <label for="image" class="col-sm-2 control-label">Imagem</label>

                <div class="col-sm-10">
                  <input type="text" name="image" class="form-control" id="image" placeholder="Imagem"
                    value="{{ new_data.image }}" disabled>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <a href="/{{link_admin}}/news/list" class="btn btn-default">Cancelar</a>
              <button type="submit" class="btn btn-info pull-right">Deletar</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- /.box -->

        {%elseif page_type == 'list' %}

        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Todas as Notícias</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="datatable" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Título</th>
                  <th>Tag</th>
                  <th>Imagem</th>
                  <th>Data</th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                {% for item in news_data %}
                <tr>
                  <td>{{ item.ID }}</td>
                  <td>{{ item.title }}</td>
                  <td>{{ item.tag }}</td>
                  <td>{{ item.image }}</td>
                  <td>{{ item.date|date('d/m/Y H:i') }}</td>
                  <td>
                    <a href="/{{link_admin}}/news/edit/{{ item.ID }}" class="btn btn-sm btn-info btn-flat">Editar</a>
                    <a href="/{{link_admin}}/news/delete/{{ item.ID }}"
                      class="btn btn-sm btn-danger btn-flat">Deletar</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <th>ID</th>
                  <th>Título</th>
                  <th>Tag</th>
                  <th>Imagem</th>
                  <th>Data</th>
                  <th>Ação</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->

        {% endif %}



      </div>
    </div>
    <!-- /.row (main row) -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}