{% extends "layout.html" %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>Rankings</h1>
    <ol class="breadcrumb">
      <li><a href="{{link_admin}}/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Rankings</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <div class="col-md-12">
        {% for item in return %}
        <div
          class="alert {% if item.error %}alert-danger{% endif %}{% if item.success %}alert-success{% endif %} alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4><i class="icon fa {% if item.error %}fa-ban{% endif %}{% if item.success %}fa-check{% endif %}"></i>
            Alerta!</h4>
          {{ item.message }}
        </div>
        {% endfor %}

        {%if page_type == 'create' %}
        <!-- Horizontal Form -->
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Criar Ranking</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form class="form-horizontal" action="{{link_dir}}{{link_admin}}/rankings/create" method="post"
            enctype="multipart/form-data">
            <div class="box-body">
              <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Nome</label>

                <div class="col-sm-10">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nome" required>
                </div>
              </div>
              <div class="form-group">
                <label for="database" class="col-sm-2 control-label">Database</label>

                <div class="col-sm-10">
                  <input type="text" name="database" class="form-control" id="database" placeholder="Database" required>
                </div>
              </div>
              <div class="form-group">
                <label for="table" class="col-sm-2 control-label">Tabela</label>

                <div class="col-sm-10">
                  <input type="text" name="table" class="form-control" id="table" placeholder="Tabela" required>
                </div>
              </div>
              <div class="form-group">
                <label for="column" class="col-sm-2 control-label">Coluna</label>

                <div class="col-sm-10">
                  <input type="text" name="column" class="form-control" id="column" placeholder="Coluna" required>
                </div>
              </div>
              <div class="form-group">
                <label for="custom" class="col-sm-2 control-label">Adicionais</label>

                <div class="col-sm-10">
                  <input type="text" name="custom" class="form-control" id="custom" placeholder="Adicionais">
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="reset" class="btn btn-default">Cancelar</button>
              <button type="submit" class="btn btn-info pull-right">Criar</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- /.box -->

        {%elseif page_type == 'edit' %}
        <!-- Horizontal Form -->
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Editar Ranking</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form class="form-horizontal" action="{{link_dir}}{{link_admin}}/rankings/edit/{{ ranking_data.ID }}"
            method="post" enctype="multipart/form-data">
            <div class="box-body">
              <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Nome</label>

                <div class="col-sm-10">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nome"
                    value="{{ ranking_data.name }}" required>
                </div>
              </div>
              <div class="form-group">
                <label for="database" class="col-sm-2 control-label">Database</label>

                <div class="col-sm-10">
                  <input type="text" name="database" class="form-control" id="database" placeholder="Database"
                    value="{{ ranking_data.database }}" required>
                </div>
              </div>
              <div class="form-group">
                <label for="table" class="col-sm-2 control-label">Tabela</label>

                <div class="col-sm-10">
                  <input type="text" name="table" class="form-control" id="table" placeholder="Tabela"
                    value="{{ ranking_data.table }}" required>
                </div>
              </div>
              <div class="form-group">
                <label for="column" class="col-sm-2 control-label">Coluna</label>

                <div class="col-sm-10">
                  <input type="text" name="column" class="form-control" id="column" placeholder="Coluna"
                    value="{{ ranking_data.column }}" required>
                </div>
              </div>
              <div class="form-group">
                <label for="custom" class="col-sm-2 control-label">Adicionais</label>

                <div class="col-sm-10">
                  <input type="text" name="custom" class="form-control" id="custom" placeholder="Adicionais"
                    value="{{ ranking_data.custom }}">
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="reset" class="btn btn-default">Cancelar</button>
              <button type="submit" class="btn btn-info pull-right">Editar</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- /.box -->
        {%elseif page_type == 'delete' %}
        <!-- Horizontal Form -->
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Deletar Ranking</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form class="form-horizontal" action="{{link_dir}}{{link_admin}}/rankings/delete/{{ ranking_data.ID }}"
            method="post">
            <div class="box-body">
              <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Nome</label>

                <div class="col-sm-10">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nome"
                    value="{{ ranking_data.name }}" disabled>
                </div>
              </div>
              <div class="form-group">
                <label for="database" class="col-sm-2 control-label">Database</label>

                <div class="col-sm-10">
                  <input type="text" name="database" class="form-control" id="database" placeholder="Database"
                    value="{{ ranking_data.database }}" disabled>
                </div>
              </div>
              <div class="form-group">
                <label for="table" class="col-sm-2 control-label">Tabela</label>

                <div class="col-sm-10">
                  <input type="text" name="table" class="form-control" id="table" placeholder="Tabela"
                    value="{{ ranking_data.table }}" disabled>
                </div>
              </div>
              <div class="form-group">
                <label for="column" class="col-sm-2 control-label">Coluna</label>

                <div class="col-sm-10">
                  <input type="text" name="column" class="form-control" id="column" placeholder="Coluna"
                    value="{{ ranking_data.column }}" disabled>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <a href="/{{link_admin}}/rankings/list" class="btn btn-default">Cancelar</a>
              <button type="submit" class="btn btn-info pull-right">Deletar</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- /.box -->

        {%elseif page_type == 'list' %}

        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Todos os Rankings</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="datatable" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nome</th>
                  <th>Database</th>
                  <th>Tabela</th>
                  <th>Coluna</th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                {% for item in rankings_data %}
                <tr>
                  <td>{{ item.ID }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.database }}</td>
                  <td>{{ item.table }}</td>
                  <td>{{ item.column}}</td>
                  <td>
                    <a href="/{{link_admin}}/rankings/edit/{{ item.ID }}"
                      class="btn btn-sm btn-info btn-flat">Editar</a>
                    <a href="/{{link_admin}}/rankings/delete/{{ item.ID }}"
                      class="btn btn-sm btn-danger btn-flat">Deletar</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <th>ID</th>
                  <th>Nome</th>
                  <th>Database</th>
                  <th>Tabela</th>
                  <th>Coluna</th>
                  <th>Ação</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->

        {% endif %}



      </div>
    </div>
    <!-- /.row (main row) -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}