{% extends "layout.html" %}
{% block content %}
<div class="box">
  <div class="box-header">
    <h3>Login</h3>
  </div>
  <div class="box-content">
    {% for item in return %}
    <div
      class="alert {% if item.error %}alert-danger{% endif %}{% if item.success %}alert-success{% endif %} alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
          aria-hidden="true">×</span></button>
      <strong>{{ item.message }}</strong>
    </div>
    {% endfor %}
    <form role="form" method="post" action="{{ link_dir }}newpassword/{{ username }}/{{ token }}">
      <div class="form-group col-md-6">
        <input type="password" class="form-control" name="password" placeholder="Senha">
      </div>
      <div class="form-group col-md-6">
        <input type="password" class="form-control" name="repassword" placeholder="Confirmação de Senha">
      </div>
      <div class="form-group col-md-6">
        <button type="submit" class="btn btn-primary col-md-12">Alterar</button>
      </div>
    </form>
    <div class="col-md-6">
      <a href="{{link_dir}}login">Fazer Login</a> <br>
      <a href="{{link_dir}}register">Criar nova conta</a>
    </div>
  </div>
</div>

{% endblock %}