{% extends "layout.html" %} {% block content %}
<div class="box">
  <div class="box-header">
    <h3>Rankings</h3>
  </div>
  <div class="box-content panel-user">
    <ul>
      {% for item in rankings_page %}
      <li>
        <a href="/rankings/{{ item.link }}" class="btn btn-primary"
          >{{ item.name }}</a
        >
      </li>
      {% endfor %}
    </ul>
    {% if error is not empty %}
    <div
      class="alert {% if error.error %}alert-danger{% endif %}{% if error.success %}alert-success{% endif %} alert-dismissible"
    >
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">×</span>
      </button>
      <strong>{{ error.message }}</strong>
    </div>
    {% endif %} {% block rankings %} {% endblock %}
  </div>
</div>
{% endblock %}
