{% extends "layout.html" %}
{% block content %}
<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="row top_tiles">
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-users"></i></div>
          <div class="count">{{ total_accounts }}</div>
          <h3>Contas</h3>
          <p>Total de Contas</p>
        </div>
      </div>
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-male"></i></div>
          <div class="count">{{ total_characters }}</div>
          <h3>Personagens</h3>
          <p>Total Personagens</p>
        </div>
      </div>
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-wifi"></i></div>
          <div class="count">{{ total_onlines }}</div>
          <h3>Online</h3>
          <p>Contas Online</p>
        </div>
      </div>
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-usd"></i></div>
          <div class="count">{{ user_credits }}</div>
          <h3>Saldo</h3>
          <p>Saldo disponivel na MWOPay</p>
        </div>
      </div>
    </div>


  </div>
</div>
<!-- /page content -->
{% endblock %}