{% extends "layout.html" %}
{% block content %}

<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Acesso Páginas</h3>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        {% for item in return %}
        <div
          class="alert {% if item.error %}alert-danger{% endif %}{% if item.success %}alert-success{% endif %} alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4><i class="icon fa {% if item.error %}fa-ban{% endif %}{% if item.success %}fa-check{% endif %}"></i>
            Alerta!</h4>
          {{ item.message }}
        </div>
        {% endfor %}


        {% if status == 0 %}
        <div class="alert alert-danger fade in">
          <p>Não foi possível se conectar ao servidor de atualização da MuWebOnline.</p>
        </div>
        {% elseif status == 1 %}
        <div class="alert alert-success fade in">
          <p>PARABÉNS! Você está utilizando a versão mais recente da MuWebOnline {{ current_verion }}.</p>
        </div>
        {% elseif status == 2 %}
        <div class="x_panel">
          <div class="x_title">
            <h2>Novas Versões Disponíveis</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <p>Sua Versão<strong> {{ current_verion }}</strong></p>
            <p>Nova versão: <strong><a data-toggle="modal" data-target="#modal-default"
                  style="cursor: pointer;">{{ version }}</a></strong>
            </p>
            <a href="{{link_dir}}{{link_admin}}/update/install" class="btn btn-primary">Atualizar</a>
          </div>
        </div>

        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Versões</h4>
              </div>
              <div class="modal-body">
                {% for item in versions %}
                <p>{{ item }}</p>
                {% endfor %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
              </div>

            </div>
          </div>
        </div>
        {%endif%}

      </div>
    </div>

  </div>
</div>
<!-- /page content -->

{% endblock %}