{% extends "layoutdashboard.html" %}
{% block dashboard %}
<div class="col-md-9">
  <div>
    {% if tickets is not empty %}
    {% for item in tickets %}
    <a href="{{link_dir}}dashboard/tickets/view/{{ item.ID }}" style="text-decoration: none;">
      <div class="alert" role="alert"><strong>{{ item.date|date('d/m/Y H:i') }}</strong> - {{ item.subject }}</div>
    </a>
    {% endfor %}
    {% else %}
    <div class="alert" role="alert"><strong>Você não criou nenhum ticket</strong></div>
    {% endif %}
  </div>
</div>
{% endblock %}