{% extends "layoutdashboard.html" %}
{% block dashboard %}
<div class="col-md-9">
  <h3 class="mt-40 mb-20">Abrir Ticket</h3>
  <form action="{{link_dir}}dashboard/tickets/create" method="post">
    <div class="form-horizontal mt-30 mb-40">
      <div class="form-group">
        <label class="control-label col-sm-2" for="subject">Assunto:</label>
        <div class="col-sm-10">
          <div class="youplay-input">
            <input type="text" id="subject" name="subject" placeholder="Assunto" required>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="subject">Mensagem:</label>
        <div class="col-sm-10">
          <div class="youplay-textarea">
            <textarea name="message" rows="5" placeholder="Descreva aqui o motivo para que nossa equipe possa analizar."
              required></textarea>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Criar Ticket</button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}