{% extends "layoutdashboard.html" %}
{% block dashboard %}
<div class="col-md-9">
  <form action="{{link_dir}}dashboard/settings/password" method="post">
    <h3>Mudar Senha:</h3>
    <div class="form-horizontal mt-30 mb-40">
      <div class="form-group">
        <label class="control-label col-sm-2" for="currentpassword">Senha Atual:</label>
        <div class="col-sm-10">
          <div class="youplay-input">
            <input type="password" id="currentpassword" name="currentpassword" placeholder="Senha Atual">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="newpassword">Nova Senha:</label>
        <div class="col-sm-10">
          <div class="youplay-input">
            <input type="password" id="newpassword" name="newpassword" placeholder="Nova Senha">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="confimpassword">Repita a senha:</label>
        <div class="col-sm-10">
          <div class="youplay-input">
            <input type="password" id="confimpassword" name="confimpassword" placeholder="Repita a Nova Senha">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Mudar Senha</button>
        </div>
      </div>
    </div>
  </form>

  <form action="{{link_dir}}dashboard/settings/data" method="post">
    <h3>Dados:</h3>
    <div class="form-horizontal mt-30 mb-40">
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">Email:</label>
        <div class="col-sm-10">
          <div class="youplay-input">
            <input type="email" disabled id="email" name="email" value="{{settings_data.mail_addr}}" required>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="memb_name">Nome:</label>
        <div class="col-sm-10">
          <div class="youplay-input">
            <input type="text" name='memb_name' id='memb_name' value="{{settings_data.memb_name}}" required>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for='tel__numb'>Telefone:</label>
        <div class="col-sm-10">
          <div class="youplay-input">
            <input type="text" id='tel__numb' name='tel__numb' value="{{settings_data.tel__numb}}">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="cur_password">Senha Atual:</label>
        <div class="col-sm-10">
          <div class="youplay-input">
            <input type="password" id="cur_password" name="cur_password" placeholder="Senha Atual">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Alterar Dados</button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}