{% extends "layoutdashboard.html" %}
{% block dashboard %}
<div class="col-md-9">
  <h3 class="mt-0 mb-20">Informações</h3>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td style="width: 200px;">
          <p>Nick</p>
        </td>
        <td>
          <p class="uppercase">{{home_data.memb_name}}</p>
        </td>
      </tr>
      <tr>
        <td style="width: 200px;">
          <p>Login</p>
        </td>
        <td>
          <p>{{home_data.memb___id}}</p>
        </td>
      </tr>
      <tr>
        <td style="width: 200px;">
          <p>Tipo</p>
        </td>
        <td>
          <p>{{user_vip.name}} {% if user_vip.days is not empty %} vence daqui {{user_vip.days}} dias {% endif %}</p>
        </td>
      </tr>
    </tbody>
  </table>

  <h3 class="mt-40 mb-20">Personagens</h3>
  <h5 class="ml-10">Utilize o game para criar novos personagens</h5>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>
          <strong><em>Personagem</em></strong>
        </td>
        <td>
          <strong><em>Classe</em></strong>
        </td>
        <td>
          <strong><em>Resets</em></strong>
        </td>
        <td>
          <strong><em>PK</em></strong>
        </td>
      </tr>
      {% if user_characters is not empty %}
      {% for item in user_characters %}
      <tr>
        <td>{{item.Name}}</td>
        <td>{{item.Class}}</td>
        <td>{{item.Resets}}</td>
        <td>{{item.PkCount}}</td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td>Você não tem personagens</td>
      </tr>
      {% endif %}

    </tbody>
  </table>
</div>
{% endblock %}