{% extends "layout.html" %}
{% block content %}
<script>
    var eventsTime = {{ events_json | raw }};

    function toSeconds(h, m, s) {
        return h * 3600 + m * 60 + s;
    }

    function updateEventsTime() {
        var d = new Date();
        var time = toSeconds(d.getHours(), d.getMinutes(), d.getSeconds());

        var html = '';
        for (i in eventsTime) {
            var j;
            for (j = 0; j < eventsTime[i][1].length; j++) {
                var t = eventsTime[i][1][j].split(':');
                t = toSeconds(t[0], t[1], 0);
                if (t > time) break;
            }

            j = j % eventsTime[i][1].length;
            var t = eventsTime[i][1][j].split(':');

            var diff = toSeconds(t[0], t[1], 0) - time;
            if (diff < 0) diff += 3600 * 24;

            var c = "label-default";
            if (diff < 15 * 60) c = "label-success";

            var h = parseInt(diff / 3600);
            diff -= 3600 * h;
            var m = parseInt(diff / 60);
            var s = diff - m * 60;

            var countdown = h + ':' + ("0" + m).slice(-2) + ':' + ("0" + s).slice(-2);

            //Eventos contando //
            html += '<div class="block-content"  style="font-size: 12px;">' + eventsTime[i][1][j] + ' - ' + eventsTime[i][0] + '<span class="pull-right label ' + c + '"  style="font-size: 13px;">' + countdown + '</span></div>';
            // Eventos zerados //
            //html += '<div class="block-content"  style="font-size: 12px;">00:00 - '+eventsTime[i][0]+'<span class="pull-right label"  style="font-size: 13px;">00:00</span></div>';

        }
        $('.events').html(html);
    }

    onReady.push(function () { setInterval(updateEventsTime, 1000) });

</script>

<!-- Banner -->
<section class="youplay-banner banner-top youplay-banner-parallax">
    <div class="image" style="background-image: url('assets/images/banner-blog-bg.jpg')">
    </div>

    <div class="info">
        <div>
            <div class="container">
                <h1>o inicio da caçada</h1>
                <br>
                <em>Confira todas as novidades, sempre o melhor para você!</em>
                <br>
                <br>
                <a class="btn btn-lg" href="/info">Informações</a>
                <a class="btn btn-lg" href="/register">Cadastro</a>
                <a class="btn btn-lg" href="/downloads">Download</a>
            </div>
        </div>
    </div>

</section>
<!-- /Banner -->

<!-- Popular -->
<div class="youplay-carousel" data-autoplay="4000">
    <div class="angled-img" href="">
        <div class="img">
            <img src="assets/images/game-bloodborne-3-500x375.jpg" alt="">
        </div>
        <div class="over-info">
            <div>
                <div>
                    <h4>Corrida pelos primeiros 100 resets</h4>
                    <div class="rating">
                        Fique entre os 5 primeiros a ter 100 resets em ganhe um mega bônus.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="angled-img" href="">
        <div class="img">
            <img src="assets/images/battle-500x375.jpg" alt="">
        </div>
        <div class="over-info">
            <div>
                <div>
                    <h4>Party com XP Extra</h4>
                    <div class="rating">
                        Partice de uma party com 5 membros e ganhe XP extra.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="angled-img" href="">
        <div class="img">
            <img src="assets/images/game-bloodborne-500x375.jpg" alt="">
        </div>
        <div class="over-info">
            <div>
                <div>
                    <h4>Novos Eventos</h4>
                    <div class="rating">
                        Fique de olho em nosso fórum e descubra nossos Eventos especiais.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="angled-img" href="">
        <div class="img">
            <img src="assets/images/soldier-500x375.jpg" alt="">
        </div>
        <div class="over-info">
            <div>
                <div>
                    <h4>Itens Valorizados</h4>
                    <div class="rating">
                        Drop de jóias e itens raros diminuido para melhor negociações.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="angled-img" href="">
        <div class="img">
            <img src="assets/images/ferreiro500-375.jpg" alt="">
        </div>
        <div class="over-info">
            <div>
                <div>
                    <h4>Extra Warehouse</h4>
                    <div class="rating">
                        Compre baús extras para sua conta com WCoinP's adquiridas ao ficar online.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="angled-img" href="">
        <div class="img">
            <img src="assets/images/game-diablo-iii-500x375.jpg" alt="">
        </div>
        <div class="over-info">
            <div>
                <div>
                    <h4>Fique Online e ganhe</h4>
                    <div class="rating">
                        A cada hora online você ganha 1 WCoinP e 2 WCoinP's aos domingos.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="angled-img" href="">
        <div class="img">
            <img src="assets/images/game-dragons-dogma-500x375.jpg" alt="">
        </div>
        <div class="over-info">
            <div>
                <div>
                    <h4>Programa de Indicação</h4>
                    <div class="rating">
                        Convide seus amigos e receba WCoinP's a cada novo jogador.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="angled-img" href="">
        <div class="img">
            <img src="assets/images/Resets.jpg" alt="">
        </div>
        <div class="over-info">
            <div>
                <div>
                    <h4>Sem falta de Spots</h4>
                    <div class="rating">
                        Monstros soltos por todos os mapas e com mega spots secretos.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="angled-img" href="">
        <div class="img">
            <img src="assets/images/PKCount.jpg" alt="">
        </div>
        <div class="over-info">
            <div>
                <div>
                    <h4>Ranking Premiado</h4>
                    <div class="rating">
                        Ganhe prêmios ficando entre os Top 5 diário, semanal e mensal.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h2 class="container h1">Os melhores <a href="/rankings" class="btn pull-right">Veja Mais</a></h2>
<div class="youplay-carousel" data-autoplay="4000">
    {% for item in rankings %}
    <div class="angled-img" href="">
        <div class="img">
            <img src="assets/images/{{item.column}}.jpg" alt="">
        </div>
        <div class="over-info">
            <div>
                <div>
                    <h4><span class="label label-default">{{item.name}}</span><span
                            class="label label-custom">Geral</span></h4>
                    <div class="rating">
                        {% for rankings in item.ranking%}
                        {{ loop.index }}º - {{rankings.Name}} Level: {{rankings.cLevel}} ({{rankings.ranking}}) <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

<div class="container youplay-news">
    <div class="col-md-9">
        <h2>Últimas Notícias</h2>
        <!-- Single News Block -->
        {% for item in news %}
        <div class="news-one">
            <div class="row vertical-gutter">
                <div class="col-md-4">
                    <a href="/news/{{item.ID}}" class="angled-img">
                        <div class="img">
                            <img src="{{item.image}}" alt="">
                        </div>
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="clearfix">
                        <h3 class="h2 pull-left m-0">
                            <a href="/news/{{item.ID}}"><span style="font-size:23px;">{{item.title}}</span></a>
                        </h3>
                        <span class="date pull-right"><i class="fa fa-calendar"></i> {{ item.date|date('d/m/Y H:i') }}
                        </span>
                    </div>
                    <div class="tags">
                        {% if item.tag is not empty %}
                        <i class="fa fa-tags"></i> {{item.tag}}
                        {% endif %}
                    </div>
                    <div class="description">
                        <p>
                            {{item.content[:300]|striptags}}...
                        </p>
                    </div>
                    <a href="/news/{{item.ID}}" class="btn read-more pull-left">Leia Mais</a>
                </div>
            </div>
        </div>
        {% endfor %}

        <!-- /Single News Block -->
    </div>
    <div class="col-md-3">
        <div class="side-block">
            <h4 class="block-title">Server Status</h4>
            <div class="block-content">
                <div class="row">
                    <div class="col col-md-5">
                        Server PvP
                    </div>
                    <div class="col col-md-7">
                        <div class="progress" style="margin-bottom: 0px;">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                                aria-valuenow="305" aria-valuemin="0" aria-valuemax="100"
                                style="width:{{total_onlines}}%">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-md-5">
                    </div>
                    <div class="col col-md-7" style="text-align: center">
                        <small>{{total_onlines}} Onlines</small>
                    </div>
                </div>
            </div>
            <div class="block-content">
                Versão <span class="pull-right label label-default" style="font-size: 15px;">{{server_version}}</span>
            </div>
            <div class="block-content">
                Experiência <span class="pull-right label label-default" style="font-size: 15px;">{{server_xp}}</span>
            </div>
            <div class="block-content">
                Drop <span class="pull-right label label-default" style="font-size: 15px;">{{server_drop}}</span>
            </div>
            <div class="block-content">
                Bugbless <span class="pull-right label label-default"
                    style="font-size: 15px;">{{server_bugbless}}</span>
            </div>
            <div class="block-content" style="height: 30px">
                <a href="/info" style="width: 100%; margin: auto" class="btn btn-primary btn-xs">Veja Mais</a>
            </div>
        </div>

        <div class="side-block">
            <h4 class="block-title">Eventos</h4>
            <div class="events"></div>
        </div>

        <div class="side-block">
            <h4 class="block-title">Equipe</h4>
            {% for item in staff%}
            <div class="block-content" style="font-size: 12px;">
                {{item.Name}}
                <span class="pull-right label label-default" style="font-size: 13px;">
                    {%if item.ConnectStat == 0%}
                    Offline
                    {%else%}
                    <span style="color:green;">Online</span>
                    {%endif%}
                </span>
            </div>
            {%endfor%}
        </div>
        <div class="side-block">
            <h4 class="block-title">Destaques</h4>
            <div style="position:relative;height:0;padding-bottom:56.25%"><iframe
                    src="https://www.youtube.com/embed/MHC9hD_xs3I?ecver=2" width="250" height="210" frameborder="0"
                    style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>
        </div>


    </div>
</div>


{% endblock %}