{% extends "layout.html" %}
{% block content %}
<!-- Banner -->
<div class="youplay-banner banner-top youplay-banner-parallax small">
  <div class="image" style="background-image: url('assets/images/banner-bg.jpg')"></div>

  <div class="youplay-user-navigation">
    <div class="container">
      <ul id="menudashboard">
        <li><a href="/dashboard/home">Minha Conta</a>
        </li>
        <li><a href="/dashboard/vips">Seja VIP</a>
        </li>
        <li><a href="/dashboard/coins">Moedas</a>
        </li>
        <li><a href="/dashboard/settings">Configurações</a>
        </li>
        <li><a href="/">Voltar ao site</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="info">
    <div>
      <div class="container youplay-user">
        <a href="/dashboard/home" class="angled-img" style="width:auto;">
          <div class="img">
            <img style="height: 150px; width: auto;"
              src="{{ link_images }}users/{{ userdata.image is empty ? 'default.png' : userdata.image}}" alt="">
          </div>
        </a>

        <div class="user-data">
          <h2>{{userdata.memb_name}}</h2>
          <div class="location">{{userdata.memb___id}}</div>
          <div class="activity">
            {% for item in coins_user %}
            <div>
              <div class="num">{{item.value}}</div>
              <div class="title">{{item.name}}</div>
            </div>
            {% endfor %}
            <div>
              <div class="num">{{userdata.mwo_credits}}</div>
              <div class="title">Créditos</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Banner -->

<div class="container youplay-content">
  <div class="row">
    <div class="col-md-12">
      {% for item in return %}
      <div
        class="alert {% if item.error %}alert-danger{% endif %}{% if item.success %}alert-success{% endif %} alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
            aria-hidden="true">×</span></button>
        <strong>{{ item.message }}</strong>
      </div>
      {% endfor %}
    </div>

    {% block dashboard %}
    {% endblock %}

    <!-- Left Side -->
    <div class="col-md-3">
      <div class="side-block">
        <h4 class="block-title">Opções de Conta</h4>
        <ul class="block-content">
          <li><a href="/dashboard/home">Minha Conta</a></li>
          <li><a href="/dashboard/settings">Configurações</a></li>
          <li><a href="/dashboard/tickets/create">Abrir novo Ticket</a></li>
          <li><a href="/dashboard/tickets">Meus Tickets</a></li>
          <li><a href="/logout">Sair</a></li>
        </ul>

        <h4 class="block-title">Personagens</h4>
        <ul class="block-content">
          <li><a href="/dashboard/characters/reset">Reset</a></li>
          <li><a href="/dashboard/characters/masterreset">Master Reset</a></li>
          <li><a href="/dashboard/characters/cleanpk">Limpar PK</a></li>
          <li><a href="/dashboard/characters/changenick">Alterar Nome</a></li>
          <li><a href="/dashboard/characters/changeclass">Alterar Classe</a></li>
        </ul>
      </div>
    </div>
    <!-- Left Side -->
  </div>
</div>
{% endblock %}