{% extends "layout.html" %}
{% block content %}
<!--
    Banner

    Additional classes:
        .small
        .xsmall
        .big
        .full
-->
<section class="youplay-banner banner-top youplay-banner-parallax">

	<div class="image" data-speed="0.4">
		<img src="assets/images/banner-blog-bg.jpg" alt="" class="jarallax-img">
	</div>


	<div class="info">
		<div>
			<div class="container">
				{% for item in return %}
				<br>
				<div
					class="alert {% if item.error %}alert-danger{% endif %}{% if item.success %}alert-success{% endif %} alert-dismissible">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
							aria-hidden="true">×</span></button>
					<strong>{{ item.message }}</strong>
				</div>
				{% endfor %}

				<div class="youplay-login">
					<div class="youplay-form text-center">
						<h1>Login</h1>

						<form role="form" method="post" action="{{link_dir}}login">
							<div class="youplay-input">
								<input type="text" name="username" placeholder="Login">
							</div>
							<div class="youplay-input">
								<input type="password" name="password" placeholder="Senha">
							</div>
							<button type="submit" class="btn btn-default db">Entrar</button>
						</form>
						<div class="mt-5">
							<a href="/forget" style="text-decoration: none" class="mr-20 small">Recuperar senha</a>
							<a href="/register" style="text-decoration: none" class="small">Criar nova conta</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /Banner -->

{% endblock %}