{% extends "layout.html" %}
{% block content %}
<section class="content-wrap">

  <!-- Banner -->
  <div class="youplay-banner banner-top youplay-banner-parallax small">
    <div class="image" style="background-image: url('assets/images/banner-blog-bg.jpg')">
    </div>
    <div class="info">
      <div>
        <div class="container">
          <h1>{{page_data.title}}</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- /Banner -->

  <div class="container youplay-news mb-70">
    {{page_data.content| raw}}
  </div>

  {% endblock %}