{% extends "layout.html" %}
{% block content %}
<section class="content-wrap">

    <!-- Banner -->
    <div class="youplay-banner banner-top youplay-banner-parallax small">
        <div class="image" style="background-image: url('assets/images/banner-blog-bg.jpg')">
        </div>
        <div class="info">
            <div>
                <div class="container">
                    <h1 class="mb-0">Cadastro</h1>
                    <h3 class="mt-5">Game e Forum tudo em uma única conta</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- /Banner -->

    <div class="container youplay-news mb-70">
        <div class="col-md-12">

            {% for item in return %}
            <div
                class="alert {% if item.error %}alert-danger{% endif %}{% if item.success %}alert-success{% endif %} alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa {% if item.error %}fa-ban{% endif %}{% if item.success %}fa-check{% endif %}"></i>
                    Alerta!</h4>
                {{ item.message }}
            </div>
            {% endfor %}

            <!-- Billing Information -->
            <h2 class="mt-0">Informações</h2>

            <form action='{{link_dir}}register' class='register-form' method='post'>
                <div class="row">
                    <div class="col-md-6 input-user">
                        <p>Login:</p>
                        <div class="youplay-input">
                            <input name='username' id='username' maxlength='10' type='text' class='' required />
                        </div>
                        <div id='login_error' class='error_label'></div>
                    </div>
                    <div class="col-md-6 input-name">
                        <p>Apelido:</p>
                        <div class="youplay-input">
                            <input name='nick' id='nick' maxlength='10' type='text' class='' required />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 input-email">
                        <p>Email:</p>
                        <div class="youplay-input">
                            <input name='email' id='email' maxlength='40' type='text' class='' required />
                            </td>
                        </div>
                    </div>
                    <div class="col-md-6 input-email-confirmation">
                        <p>Confirme o email:</p>
                        <div class="youplay-input">
                            <input name='reemail' id='reemail' maxlength='40' type='text' class='' required /></td>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 input-password">
                        <p>Senha:</p>
                        <div class="youplay-input">
                            <input name='password' id='password' maxlength='10' type='password' class='' required />
                        </div>
                    </div>
                    <div class="col-md-4 input-password-confirmation">
                        <p> Confirmar Senha:</p>
                        <div class="youplay-input">
                            <input name='repassword' id='repassword' maxlength='10' type='password' class='' required />
                        </div>
                    </div>
                    <div class="col-md-4 input-security-code">
                        <div class="g-recaptcha" style="width:80%;margin:0 auto;padding-bottom:5px;padding-top: 15px;"
                            data-sitekey="{{ recaptcha_site }}"></div>
                    </div>
                </div>

                <div class="youplay-checkbox input-agree-terms">
                    <input type="checkbox" name="agree_terms" id="checkbox1" required>
                    <label for="checkbox1">Eu concordo com os termos de uso do servidor</label>
                    <div class="error-label"></div>
                </div>

                <div class="align-right">
                    <button type='submit' class='btn btn-lg pull-right mt-20'>Criar Conta</button>
                </div>
            </form>
        </div>
    </div>

    {% endblock %}